@model IEnumerable<AspNET.MVC.ViewModels.NotificacaoIncidenteListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomePaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeSetor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSetor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NotificacaoIncidenteId }) |
                @Html.ActionLink("Details", "Details", new {id=item.NotificacaoIncidenteId}) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NotificacaoIncidenteId })
            </td>
        </tr>
}
    </tbody>
</table>
